In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data preparation

In [2]:
df = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name="NewCustomerList")

In [ ]:
df.head()

In [3]:
df.columns = df.iloc[0]

In [4]:
df = df.drop([0])

In [ ]:
df.set_index(pd.Index(range(0,1000,1)))

In [ ]:
df.columns

In [5]:
df = df[['gender', 'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'job_industry_category',
         'wealth_segment', 'owns_car', 'tenure', 'address', 'postcode', 'state', 'country', 'property_valuation',
         'Rank', 'Value']]

In [ ]:
df.head()

In [6]:
df = df.set_index(pd.Index(range(0,1000,1)))

In [7]:
df.head()

,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.71875
1,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.71875
2,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.71875
3,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [8]:
df_backup = df.copy()

In [50]:
df = df_backup

In [51]:
df['DOB'] = pd.to_datetime(df['DOB'])

In [52]:
df['month'] = df['DOB'].dt.month_name().str[:3]

In [53]:
df['year'] = df['DOB'].dt.year

In [67]:
df['month_no'] = df['DOB'].dt.month

In [54]:
df['past_3_years_bike_related_purchases'] = pd.to_numeric(df['past_3_years_bike_related_purchases'],errors='coerce')
df['tenure'] = pd.to_numeric(df['tenure'], errors='coerce')
df['property_valuation'] = pd.to_numeric(df['property_valuation'], errors='coerce')
df['Rank'] = pd.to_numeric(df['Rank'], errors='coerce')
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

In [ ]:
df.dtypes

In [55]:
df= df.rename(columns={"past_3_years_bike_related_purchases":"purchases"})

In [56]:
df['Age'] = 2022 - df['year']

In [69]:
df.head()

,gender,purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value,month,year,Age,month_no
0,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750,Jul,1957.0,65.0,7.0
1,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750,Mar,1970.0,52.0,3.0
2,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750,Aug,1974.0,48.0,8.0
3,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125,Jan,1979.0,43.0,1.0
4,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125,Sep,1965.0,57.0,9.0

In [ ]:
del df['DOB']

In [68]:
df.to_csv("KPMG_month.csv")

## Data Exploration by statistics

In [59]:
df.head()

,gender,purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value,month,year,Age
0,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750,Jul,1957.0,65.0
1,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750,Mar,1970.0,52.0
2,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750,Aug,1974.0,48.0
3,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125,Jan,1979.0,43.0
4,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125,Sep,1965.0,57.0

In [60]:
df.columns

Index(['gender', 'purchases', 'DOB', 'job_title', 'job_industry_category',
       'wealth_segment', 'owns_car', 'tenure', 'address', 'postcode', 'state',
       'country', 'property_valuation', 'Rank', 'Value', 'month', 'year',
       'Age'],
      dtype='object', name=0)

In [61]:
df.shape

(1000, 18)

In [62]:
df.duplicated().sum()

0

In [63]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
0,,,,,,,,
purchases,1000.0,49.836000,27.796686,0.00,26.750000,51.00,72.000,99.00000
tenure,1000.0,11.388000,5.037145,0.00,7.000000,11.00,15.000,22.00000
property_valuation,1000.0,7.397000,2.758804,1.00,6.000000,8.00,9.000,12.00000
Rank,1000.0,498.819000,288.810997,1.00,250.000000,500.00,750.250,1000.00000
Value,1000.0,0.881714,0.293525,0.34,0.649531,0.86,1.075,1.71875
year,983.0,1970.793489,17.074268,1938.00,1957.000000,1972.00,1983.000,2002.00000
Age,983.0,51.206511,17.074268,20.00,39.000000,50.00,65.000,84.00000

In [ ]:
df.isnull().sum()

In [ ]:
df.corr()

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12, 6))
sns.heatmap(df.corr(), annot=True, cmap="YlGnBu")
plt.tight_layout()
plt.xlabel('Correlation Matrix')

### Value vs Gender

In [ ]:
df['gender'].value_counts()

In [ ]:
plt.figure(figsize=(10,6))
plt.pie(df.gender.value_counts(), labels=df.gender.value_counts().index, autopct='%1.1f%%')

In [ ]:
import seaborn as sb
plt.figure(figsize=(20,6))
sb.barplot(x=df.Value.groupby(df.Age).sum().index, y=df.Value.groupby(df.Age).sum())
plt.xticks(rotation=70)

In [ ]:
df_age_value = df[['Value']].groupby(df['Age']).sum()

In [ ]:
plt.figure(figsize=(14,6))
sb.scatterplot(data=df, x='Age', y='Value')

### Value by Purchases

In [ ]:
df_purchase_value = df[['Value']].groupby(df['purchases']).sum()

In [ ]:
plt.figure(figsize=(14,6))
sb.scatterplot(data=df, x='purchases', y='Value')

### Value by Rank

In [ ]:
plt.figure(figsize=(14,6))
sb.lineplot(data=df, x='Rank', y='Value')

### Value by Job_title

In [ ]:
df.columns

In [ ]:
df_jobtitle_value = df[['Value']].groupby(df['job_title']).sum()
jobtitle_value = df_jobtitle_value.sort_values('Value', ascending=False).head(15)

In [ ]:
plt.figure(figsize=(20,6))
sb.barplot(data=jobtitle_value, x=jobtitle_value.index, y=jobtitle_value.Value)
plt.xticks(rotation=70)

### Value by job_industry_category

In [ ]:
df_cat = df[['Value','job_industry_category']].groupby(df['job_industry_category']).sum()
df_cat_val = df_cat.sort_values('Value', ascending=False)
df_cat_val

In [ ]:
plt.figure(figsize=(20,6))
ax = sb.barplot(x=df_cat_val.index, y=df_cat_val.Value)
plt.xticks(rotation=70)

## Value by month

In [64]:
df['month'].value_counts()

Oct    92
Aug    90
Mar    89
Jan    89
Dec    87
Sep    85
Jul    84
Nov    84
Apr    79
May    76
Feb    70
Jun    58
Name: month, dtype: int64